*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(82, 82, 82);
}
header{
    background: rgb(0, 9, 139);
    height: 140px;

}
header h1{
    color: black;
    font-size: 70px;
    text-align: center;
}

nav{
    margin-top: 10px;
    margin-left: 830px;
}

nav a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;

}
main{
    margin-top: 50px;
}

section{
    
    margin-left: 350px;
    margin-right: 350px;
    background: black;
    height: 1000;
    border-radius: 10px;
    margin-bottom: 100px;
}

section h2{
    font-size: 30px;
    margin-top: 20px;
    color: white;
    text-align: center;
}
section p{
    margin-top: 20px;
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    margin-bottom: 10px;
}